In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_columns = application_df.nunique()
print(unique_columns)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_cutoff = 700
application_types_to_replace = application_type_counts[application_type_counts < application_types_cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_cutoff = 700
classifications_to_replace = classification_counts[classification_counts < classification_cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df, drop_first=True)
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,True,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
4,1,142590,1,False,True,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [10]:
unique_encoded_columns = application_df_encoded.nunique()
print(unique_encoded_columns)

STATUS                          2
ASK_AMT                      8747
IS_SUCCESSFUL                   2
APPLICATION_TYPE_T19            2
APPLICATION_TYPE_T3             2
APPLICATION_TYPE_T4             2
APPLICATION_TYPE_T5             2
APPLICATION_TYPE_T6             2
APPLICATION_TYPE_T7             2
APPLICATION_TYPE_T8             2
AFFILIATION_Family/Parent       2
AFFILIATION_Independent         2
AFFILIATION_National            2
AFFILIATION_Other               2
AFFILIATION_Regional            2
CLASSIFICATION_C1200            2
CLASSIFICATION_C2000            2
CLASSIFICATION_C2100            2
CLASSIFICATION_C3000            2
CLASSIFICATION_C7000            2
CLASSIFICATION_Other            2
USE_CASE_Heathcare              2
USE_CASE_Other                  2
USE_CASE_Preservation           2
USE_CASE_ProductDev             2
ORGANIZATION_Co-operative       2
ORGANIZATION_Corporation        2
ORGANIZATION_Trust              2
INCOME_AMT_1-9999               2
INCOME_AMT_10000-24999          2
INCOME_AMT_100000-499999        2
INCOME_AMT_10M-50M              2
INCOME_AMT_1M-5M                2
INCOME_AMT_25000-99999          2
INCOME_AMT_50M+                 2
INCOME_AMT_5M-10M               2
SPECIAL_CONSIDERATIONS_Y        2
dtype: int64

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df_encoded["IS_SUCCESSFUL"].values
X = application_df_encoded.drop("IS_SUCCESSFUL", axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
print(X_train_scaled.shape)

(25724, 36)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# Input layer
nn.add(tf.keras.layers.Input(shape=(36,)))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation="relu"))

# Second hidden layer with LeakyReLU activation
nn.add(tf.keras.layers.Dense(units=50))
nn.add(tf.keras.layers.LeakyReLU(alpha=0.01))  # Adding LeakyReLU as a separate layer

# Third hidden layer with LeakyReLU activation
nn.add(tf.keras.layers.Dense(units=20))
nn.add(tf.keras.layers.LeakyReLU(alpha=0.01))

# Fourth hidden layer with LeakyReLU activation
nn.add(tf.keras.layers.Dense(units=10))
nn.add(tf.keras.layers.LeakyReLU(alpha=0.01))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/activations/leaky_relu.py:41: UserWarning: Argument `alpha` is deprecated. Use `negative_slope` instead.
  warnings.warn(

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 100)                            3,700

 dense_1 (Dense)                       (None, 50)                             5,050

 leaky_re_lu (LeakyReLU)               (None, 50)                                 0

 dense_2 (Dense)                       (None, 20)                             1,020

 leaky_re_lu_1 (LeakyReLU)             (None, 20)                                 0

 dense_3 (Dense)                       (None, 10)                               210

 leaky_re_lu_2 (LeakyReLU)             (None, 10)                                 0

 dense_4 (Dense)                       (None, 1)                                 11

 Total params: 9,991 (39.03 KB)

 Trainable params: 9,991 (39.03 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  4s 2ms/step - accuracy: 0.6938 - loss: 0.5967
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7305 - loss: 0.5527
Epoch 3/100
804/804  4s 4ms/step - accuracy: 0.7361 - loss: 0.5448
Epoch 4/100
804/804  4s 2ms/step - accuracy: 0.7350 - loss: 0.5493
Epoch 5/100
804/804  2s 2ms/step - accuracy: 0.7340 - loss: 0.5467
Epoch 6/100
804/804  3s 2ms/step - accuracy: 0.7344 - loss: 0.5459
Epoch 7/100
804/804  3s 2ms/step - accuracy: 0.7321 - loss: 0.5478
Epoch 8/100
804/804  3s 4ms/step - accuracy: 0.7339 - loss: 0.5484
Epoch 9/100
804/804  2s 2ms/step - accuracy: 0.7369 - loss: 0.5428
Epoch 10/100
804/804  3s 2ms/step - accuracy: 0.7407 - loss: 0.5408
Epoch 11/100
804/804  3s 2ms/step - accuracy: 0.7367 - loss: 0.5444
Epoch 12/100
804/804  2s 2ms/step - accuracy: 0.7372 - loss: 0.5455
Epoch 13/100
804/804  2s 2ms/step - accuracy: 0.7350 - loss: 0.5440
Epoch 14/100
804/804  3s 4ms/step - accuracy: 0.7402 - loss: 0.5403
Epoch 15/100
804/804  4s 2ms/step - accuracy: 0.7370 - loss: 0.5415
Epoch 16/100
804/804  2s 2ms/step - accuracy: 0.7339 - loss: 0.5446
Epoch 17/100
804/804  3s 2ms/step - accuracy: 0.7357 - loss: 0.5444
Epoch 18/100
804/804  2s 3ms/step - accuracy: 0.7409 - loss: 0.5390
Epoch 19/100
804/804  3s 3ms/step - accuracy: 0.7363 - loss: 0.5422
Epoch 20/100
804/804  4s 2ms/step - accuracy: 0.7380 - loss: 0.5420
Epoch 21/100
804/804  2s 2ms/step - accuracy: 0.7423 - loss: 0.5329
Epoch 22/100
804/804  2s 2ms/step - accuracy: 0.7386 - loss: 0.5395
Epoch 23/100
804/804  4s 4ms/step - accuracy: 0.7415 - loss: 0.5400
Epoch 24/100
804/804  4s 2ms/step - accuracy: 0.7335 - loss: 0.5415
Epoch 25/100
804/804  2s 2ms/step - accuracy: 0.7389 - loss: 0.5396
Epoch 26/100
804/804  2s 2ms/step - accuracy: 0.7374 - loss: 0.5391
Epoch 27/100
804/804  3s 2ms/step - accuracy: 0.7452 - loss: 0.5324
Epoch 28/100
804/804  3s 4ms/step - accuracy: 0.7381 - loss: 0.5394
Epoch 29/100
804/804  4s 2ms/step - accuracy: 0.7465 - loss: 0.5309
Epoch 30/100
804/804  2s 2ms/step - accuracy: 0.7413 - loss: 0.5367
Epoch 31/100
804/804  3s 2ms/step - accuracy: 0.7342 - loss: 0.5438
Epoch 32/100
804/804  3s 3ms/step - accuracy: 0.7424 - loss: 0.5329
Epoch 33/100
804/804  3s 3ms/step - accuracy: 0.7361 - loss: 0.5417
Epoch 34/100
804/804  4s 2ms/step - accuracy: 0.7432 - loss: 0.5322
Epoch 35/100
804/804  2s 2ms/step - accuracy: 0.7445 - loss: 0.5324
Epoch 36/100
804/804  2s 2ms/step - accuracy: 0.7401 - loss: 0.5360
Epoch 37/100
804/804  2s 3ms/step - accuracy: 0.7392 - loss: 0.5389
Epoch 38/100
804/804  3s 3ms/step - accuracy: 0.7384 - loss: 0.5339
Epoch 39/100
804/804  2s 2ms/step - accuracy: 0.7323 - loss: 0.5431
Epoch 40/100
804/804  2s 2ms/step - accuracy: 0.7370 - loss: 0.5390
Epoch 41/100
804/804  3s 2ms/step - accuracy: 0.7405 - loss: 0.5354
Epoch 42/100
804/804  2s 2ms/step - accuracy: 0.7415 - loss: 0.5366
Epoch 43/100
804/804  4s 4ms/step - accuracy: 0.7375 - loss: 0.5399
Epoch 44/100
804/804  4s 2ms/step - accuracy: 0.7384 - loss: 0.5406
Epoch 45/100
804/804  2s 2ms/step - accuracy: 0.7413 - loss: 0.5314
Epoch 46/100
804/804  2s 2ms/step - accuracy: 0.7400 - loss: 0.5312
Epoch 47/100
804/804  2s 2ms/step - accuracy: 0.7410 - loss: 0.5341
Epoch 48/100
804/804  2s 3ms/step - accuracy: 0.7410 - loss: 0.5366
Epoch 49/100
804/804  2s 3ms/step - accuracy: 0.7398 - loss: 0.5393
Epoch 50/100
804/804  2s 2ms/step - accuracy: 0.7392 - loss: 0.5355
Epoch 51/100
804/804  3s 2ms/step - accuracy: 0.7458 - loss: 0.5301
Epoch 52/100
804/804  3s 2ms/step - accuracy: 0.7410 - loss: 0.5347
Epoch 53/100
804/804  2s 2ms/step - accuracy: 0.7397 - loss: 0.5355
Epoch 54/100
804/804  4s 4ms/step - accuracy: 0.7407 - loss: 0.5345
Epoch 55/100
804/804  4s 2ms/step - accuracy: 0.7418 - loss: 0.5318
Epoch 56/100
804/804  3s 2ms/step - accuracy: 0.7411 - loss: 0.5341
Epoch 57/100
804/804  3s 2ms/step - accuracy: 0.7386 - loss: 0.5392
Epoch 58/100
804/804  3s 3ms/step - accuracy: 0.7417 - loss: 0.5315
Epoch 59/100
804/804  3s 4ms/step - accuracy: 0.7436 - loss: 0.5307
Epoch 60/100
804/804  2s 2ms/step - accuracy: 0.7432 - loss: 0.5328
Epoch 61/100
804/804  3s 2ms/step - accuracy: 0.7425 - loss: 0.5313
Epoch 62/100
804/804  3s 2ms/step - accuracy: 0.7419 - loss: 0.5361
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.7446 - loss: 0.5303
Epoch 64/100
804/804  4s 4ms/step - accuracy: 0.7377 - loss: 0.5374
Epoch 65/100
804/804  4s 2ms/step - accuracy: 0.7437 - loss: 0.5296
Epoch 66/100
804/804  2s 2ms/step - accuracy: 0.7425 - loss: 0.5309
Epoch 67/100
804/804  2s 2ms/step - accuracy: 0.7391 - loss: 0.5367
Epoch 68/100
804/804  3s 2ms/step - accuracy: 0.7478 - loss: 0.5273
Epoch 69/100
804/804  3s 4ms/step - accuracy: 0.7363 - loss: 0.5391
Epoch 70/100
804/804  2s 3ms/step - accuracy: 0.7460 - loss: 0.5318
Epoch 71/100
804/804  2s 2ms/step - accuracy: 0.7434 - loss: 0.5348
Epoch 72/100
804/804  2s 2ms/step - accuracy: 0.7426 - loss: 0.5324
Epoch 73/100
804/804  2s 2ms/step - accuracy: 0.7378 - loss: 0.5372
Epoch 74/100
804/804  2s 2ms/step - accuracy: 0.7422 - loss: 0.5333
Epoch 75/100
804/804  4s 4ms/step - accuracy: 0.7392 - loss: 0.5345
Epoch 76/100
804/804  2s 3ms/step - accuracy: 0.7404 - loss: 0.5342
Epoch 77/100
804/804  2s 2ms/step - accuracy: 0.7432 - loss: 0.5288
Epoch 78/100
804/804  3s 2ms/step - accuracy: 0.7454 - loss: 0.5299
Epoch 79/100
804/804  3s 2ms/step - accuracy: 0.7405 - loss: 0.5330
Epoch 80/100
804/804  4s 4ms/step - accuracy: 0.7425 - loss: 0.5300
Epoch 81/100
804/804  3s 3ms/step - accuracy: 0.7369 - loss: 0.5432
Epoch 82/100
804/804  4s 2ms/step - accuracy: 0.7415 - loss: 0.5306
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.7429 - loss: 0.5320
Epoch 84/100
804/804  3s 2ms/step - accuracy: 0.7420 - loss: 0.5291
Epoch 85/100
804/804  4s 4ms/step - accuracy: 0.7408 - loss: 0.5322
Epoch 86/100
804/804  2s 3ms/step - accuracy: 0.7420 - loss: 0.5294
Epoch 87/100
804/804  2s 2ms/step - accuracy: 0.7446 - loss: 0.5281
Epoch 88/100
804/804  2s 2ms/step - accuracy: 0.7391 - loss: 0.5311
Epoch 89/100
804/804  2s 2ms/step - accuracy: 0.7449 - loss: 0.5282
Epoch 90/100
804/804  2s 2ms/step - accuracy: 0.7418 - loss: 0.5306
Epoch 91/100
804/804  4s 4ms/step - accuracy: 0.7409 - loss: 0.5325
Epoch 92/100
804/804  2s 3ms/step - accuracy: 0.7369 - loss: 0.5380
Epoch 93/100
804/804  2s 2ms/step - accuracy: 0.7405 - loss: 0.5338
Epoch 94/100
804/804  2s 2ms/step - accuracy: 0.7399 - loss: 0.5333
Epoch 95/100
804/804  2s 2ms/step - accuracy: 0.7422 - loss: 0.5316
Epoch 96/100
804/804  3s 2ms/step - accuracy: 0.7420 - loss: 0.5296
Epoch 97/100
804/804  4s 4ms/step - accuracy: 0.7401 - loss: 0.5313
Epoch 98/100
804/804  4s 2ms/step - accuracy: 0.7357 - loss: 0.5373
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.7422 - loss: 0.5326
Epoch 100/100
804/804  3s 2ms/step - accuracy: 0.7425 - loss: 0.5298

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - 6ms/step - accuracy: 0.7249 - loss: 0.5726
Loss: 0.572591245174408, Accuracy: 0.7248979806900024

In [17]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")
print("Model exported to trained_model.h5 successfully.")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model exported to trained_model.h5 successfully.